USE [master]
GO
/****** Object:  Database [DOANPHIM]    Script Date: 16/11/2020 12:12:41 PM ******/
CREATE DATABASE [DOANPHIM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DOANPHIM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DOANPHIM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DOANPHIM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DOANPHIM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DOANPHIM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DOANPHIM]
GO
/****** Object:  UserDefinedFunction [dbo].[checkExist]    Script Date: 16/11/2020 12:12:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[checkExist]
(@username varchar(100)
)
RETURNS INT
AS
	BEGIN
		DECLARE @KQ INT
			IF EXISTS(
				SELECT *
				FROM TaiKhoan
				WHERE TenDangNhap = @username)
			SET @KQ = 1
		ELSE
			SET @KQ = 0
		RETURN @KQ
	END
GO
/****** Object:  UserDefinedFunction [dbo].[login]    Script Date: 16/11/2020 12:12:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[login]
(
	@username VARCHAR(100), 
	@password VARCHAR(100)
)

RETURNS INT

AS

BEGIN
	DECLARE @KQ INT
	IF EXISTS(
		SELECT * 
		FROM TaiKhoan 
		WHERE TenDangNhap = @username AND MatKhau = HASHBYTES('MD5', @password))
			SET @KQ = 1
	ELSE
			SET @KQ = 0
	RETURN @KQ
END
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 16/11/2020 12:12:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MADV] [int] NOT NULL,
	[TENDV] [nvarchar](30) NULL,
	[GIADV] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DINHDANG]    Script Date: 16/11/2020 12:12:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DINHDANG](
	[MADINHDANG] [int] NOT NULL,
	[TENDINHDANG] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MADINHDANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GHE]    Script Date: 16/11/2020 12:12:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GHE](
	[MAGHE] [int] IDENTITY(1,1) NOT NULL,
	[SOCOT] [int] NULL,
	[SOHANG] [int] NULL,
	[TINHTRANG] [int] NULL,
	[MAPHONGCHIEU] [int] NOT NULL,
 CONSTRAINT [PK__GHE__7984CA0E09711256] PRIMARY KEY CLUSTERED 
(
	[MAGHE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH]    Script Date: 16/11/2020 12:12:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH](
	[MAKHACH] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHCHIEU]    Script Date: 16/11/2020 12:12:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHCHIEU](
	[MALICHCHIEU] [int] IDENTITY(1,1) NOT NULL,
	[NGAYCHIEU] [datetime] NULL,
	[GIOCHIEU] [datetime] NULL,
	[MAPHIM] [int] NOT NULL,
	[MAPHONGCHIEU] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MALICHCHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIM]    Script Date: 16/11/2020 12:12:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIM](
	[MAPHIM] [int] IDENTITY(1,1) NOT NULL,
	[TENPHIM] [nvarchar](50) NULL,
	[ANH] [image] NULL,
	[DAODIEN] [nvarchar](30) NULL,
	[THELOAI] [nvarchar](100) NULL,
	[KHOICHIEU] [datetime] NULL,
	[KETTHUC] [datetime] NULL,
	[THOILUONG] [nvarchar](30) NULL,
	[NGONNGU] [nvarchar](50) NULL,
	[Rated] [nvarchar](50) NULL,
	[NOIDUNG] [nvarchar](1000) NULL,
	[MADINHDANG] [int] NULL,
 CONSTRAINT [PK__PHIM__5401D882CCEAC72B] PRIMARY KEY CLUSTERED 
(
	[MAPHIM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONGCHIEU]    Script Date: 16/11/2020 12:12:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGCHIEU](
	[MAPHONGCHIEU] [int] IDENTITY(1,1) NOT NULL,
	[TENPHONGCHIEU] [nvarchar](30) NULL,
	[MARAP] [int] NOT NULL,
 CONSTRAINT [PK__PHONGCHI__F244BDB9F4AACD4B] PRIMARY KEY CLUSTERED 
(
	[MAPHONGCHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RAPCHIEU]    Script Date: 16/11/2020 12:12:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAPCHIEU](
	[MARAP] [int] IDENTITY(1,1) NOT NULL,
	[TENRAP] [nvarchar](30) NULL,
	[DIACHI] [nvarchar](50) NULL,
 CONSTRAINT [PK__RAPCHIEU__57A76D799981E79F] PRIMARY KEY CLUSTERED 
(
	[MARAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 16/11/2020 12:12:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenDangNhap] [varchar](100) NOT NULL,
	[MatKhau] [varchar](100) NOT NULL,
	[LoaiTaiKhoan] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK__TaiKhoan__55F68FC1F2744F3D] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THETHANHVIEN]    Script Date: 16/11/2020 12:12:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THETHANHVIEN](
	[MAKHACH] [int] NOT NULL,
	[TENTV] [nvarchar](30) NULL,
	[SDT] [char](10) NULL,
	[LOAITHE] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongTinTaiKhoan]    Script Date: 16/11/2020 12:12:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinTaiKhoan](
	[idTK] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoDienThoai] [varchar](100) NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[CMND] [varchar](100) NOT NULL,
	[Tuoi] [int] NOT NULL,
	[GioiTinh] [nvarchar](100) NOT NULL,
	[TenDangNhap] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VE]    Script Date: 16/11/2020 12:12:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VE](
	[MAVE] [int] IDENTITY(1,1) NOT NULL,
	[GIAVE] [money] NULL,
	[MAKHACH] [int] NOT NULL,
	[MALICHCHIEU] [int] NOT NULL,
	[MADV] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAVE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XUATCHIEU]    Script Date: 16/11/2020 12:12:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XUATCHIEU](
	[MAXUATCHIEU] [int] IDENTITY(1,1) NOT NULL,
	[THOIGIANCHIEU] [datetime] NULL,
 CONSTRAINT [PK_XUATCHIEU] PRIMARY KEY CLUSTERED 
(
	[MAXUATCHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DINHDANG] ([MADINHDANG], [TENDINHDANG]) VALUES (1, N'2D')
INSERT [dbo].[DINHDANG] ([MADINHDANG], [TENDINHDANG]) VALUES (2, N'3D')
INSERT [dbo].[DINHDANG] ([MADINHDANG], [TENDINHDANG]) VALUES (3, N'4D')
GO
SET IDENTITY_INSERT [dbo].[GHE] ON 

INSERT [dbo].[GHE] ([MAGHE], [SOCOT], [SOHANG], [TINHTRANG], [MAPHONGCHIEU]) VALUES (1642, 1, 1, 1, 27)
INSERT [dbo].[GHE] ([MAGHE], [SOCOT], [SOHANG], [TINHTRANG], [MAPHONGCHIEU]) VALUES (1643, 1, 2, 1, 27)
INSERT [dbo].[GHE] ([MAGHE], [SOCOT], [SOHANG], [TINHTRANG], [MAPHONGCHIEU]) VALUES (1644, 1, 3, 1, 27)
GO
SET IDENTITY_INSERT [dbo].[GHE] OFF
GO
SET IDENTITY_INSERT [dbo].[LICHCHIEU] ON 

INSERT [dbo].[LICHCHIEU] ([MALICHCHIEU], [NGAYCHIEU], [GIOCHIEU], [MAPHIM], [MAPHONGCHIEU]) VALUES (3, CAST(N'2020-12-24T00:00:00.000' AS DateTime), CAST(N'2020-11-16T08:40:00.000' AS DateTime), 41, 5)
SET IDENTITY_INSERT [dbo].[LICHCHIEU] OFF
GO
SET IDENTITY_INSERT [dbo].[PHIM] ON 

SET IDENTITY_INSERT [dbo].[PHIM] OFF
GO
SET IDENTITY_INSERT [dbo].[PHONGCHIEU] ON 

INSERT [dbo].[PHONGCHIEU] ([MAPHONGCHIEU], [TENPHONGCHIEU], [MARAP]) VALUES (5, N'Phòng 1', 12)
INSERT [dbo].[PHONGCHIEU] ([MAPHONGCHIEU], [TENPHONGCHIEU], [MARAP]) VALUES (15, N'Phòng 2', 12)
INSERT [dbo].[PHONGCHIEU] ([MAPHONGCHIEU], [TENPHONGCHIEU], [MARAP]) VALUES (17, N'Phòng 1', 20)
SET IDENTITY_INSERT [dbo].[PHONGCHIEU] OFF
GO
SET IDENTITY_INSERT [dbo].[RAPCHIEU] ON 

INSERT [dbo].[RAPCHIEU] ([MARAP], [TENRAP], [DIACHI]) VALUES (1, N'UNO Tân Bình', N'25 Trường Chinh')
INSERT [dbo].[RAPCHIEU] ([MARAP], [TENRAP], [DIACHI]) VALUES (12, N'UNO Tân Phú', N'26 Tân Phú')
INSERT [dbo].[RAPCHIEU] ([MARAP], [TENRAP], [DIACHI]) VALUES (20, N'UNO Thảo Điền', N'25 Thảo Điền')
SET IDENTITY_INSERT [dbo].[RAPCHIEU] OFF
GO
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [LoaiTaiKhoan]) VALUES (N'admin', N'!#/)zW¥§C‰JJ€Ã', N'admin')
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [LoaiTaiKhoan]) VALUES (N'staff', N'S „e±ï¨vù‚Ø©ç>ï', N'staff')
GO
ALTER TABLE [dbo].[GHE]  WITH CHECK ADD  CONSTRAINT [FK__GHE__MAPHONGCHIE__4BAC3F29] FOREIGN KEY([MAPHONGCHIEU])
REFERENCES [dbo].[PHONGCHIEU] ([MAPHONGCHIEU])
GO
ALTER TABLE [dbo].[GHE] CHECK CONSTRAINT [FK__GHE__MAPHONGCHIE__4BAC3F29]
GO
ALTER TABLE [dbo].[LICHCHIEU]  WITH CHECK ADD  CONSTRAINT [FK__LICHCHIEU__MAPHI__4CA06362] FOREIGN KEY([MAPHIM])
REFERENCES [dbo].[PHIM] ([MAPHIM])
GO
ALTER TABLE [dbo].[LICHCHIEU] CHECK CONSTRAINT [FK__LICHCHIEU__MAPHI__4CA06362]
GO
ALTER TABLE [dbo].[LICHCHIEU]  WITH CHECK ADD  CONSTRAINT [FK__LICHCHIEU__MAPHO__4AB81AF0] FOREIGN KEY([MAPHONGCHIEU])
REFERENCES [dbo].[PHONGCHIEU] ([MAPHONGCHIEU])
GO
ALTER TABLE [dbo].[LICHCHIEU] CHECK CONSTRAINT [FK__LICHCHIEU__MAPHO__4AB81AF0]
GO
ALTER TABLE [dbo].[PHIM]  WITH CHECK ADD  CONSTRAINT [FK_PHIM_DINHDANG] FOREIGN KEY([MADINHDANG])
REFERENCES [dbo].[DINHDANG] ([MADINHDANG])
GO
ALTER TABLE [dbo].[PHIM] CHECK CONSTRAINT [FK_PHIM_DINHDANG]
GO
ALTER TABLE [dbo].[PHONGCHIEU]  WITH CHECK ADD  CONSTRAINT [FK__PHONGCHIE__MARAP__4D94879B] FOREIGN KEY([MARAP])
REFERENCES [dbo].[RAPCHIEU] ([MARAP])
GO
ALTER TABLE [dbo].[PHONGCHIEU] CHECK CONSTRAINT [FK__PHONGCHIE__MARAP__4D94879B]
GO
ALTER TABLE [dbo].[THETHANHVIEN]  WITH CHECK ADD FOREIGN KEY([MAKHACH])
REFERENCES [dbo].[KHACH] ([MAKHACH])
GO
ALTER TABLE [dbo].[ThongTinTaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK__ThongTinT__TenDa__43D61337] FOREIGN KEY([TenDangNhap])
REFERENCES [dbo].[TaiKhoan] ([TenDangNhap])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThongTinTaiKhoan] CHECK CONSTRAINT [FK__ThongTinT__TenDa__43D61337]
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD FOREIGN KEY([MADV])
REFERENCES [dbo].[DICHVU] ([MADV])
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD FOREIGN KEY([MAKHACH])
REFERENCES [dbo].[KHACH] ([MAKHACH])
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD FOREIGN KEY([MALICHCHIEU])
REFERENCES [dbo].[LICHCHIEU] ([MALICHCHIEU])
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD  CONSTRAINT [FK_VE_THETHANHVIEN] FOREIGN KEY([MAKHACH])
REFERENCES [dbo].[THETHANHVIEN] ([MAKHACH])
GO
ALTER TABLE [dbo].[VE] CHECK CONSTRAINT [FK_VE_THETHANHVIEN]
GO
/****** Object:  StoredProcedure [dbo].[DeleteScreenAndSeatById]    Script Date: 16/11/2020 12:12:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteScreenAndSeatById]
@MAPHONGCHIEU INT
AS
	BEGIN
		DELETE FROM GHE WHERE MAPHONGCHIEU = @MAPHONGCHIEU
		DELETE FROM PHONGCHIEU WHERE MAPHONGCHIEU = @MAPHONGCHIEU
	END
GO
/****** Object:  StoredProcedure [dbo].[GetIdByScreenNameAndTheaterId]    Script Date: 16/11/2020 12:12:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetIdByScreenNameAndTheaterId]
@TENPHONGCHIEU nvarchar(30),
@MARAP int
AS
	BEGIN
		SELECT MAPHONGCHIEU
		FROM PHONGCHIEU
		WHERE TENPHONGCHIEU = @TENPHONGCHIEU AND MARAP = @MARAP
	END
GO
/****** Object:  StoredProcedure [dbo].[GetTheaterList]    Script Date: 16/11/2020 12:12:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTheaterList]
AS
SELECT * FROM RAPCHIEU
GO
/****** Object:  StoredProcedure [dbo].[InsertScreenSeat]    Script Date: 16/11/2020 12:12:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertScreenSeat]
@SOHANG int,
@MAPHONGCHIEU int
AS
	BEGIN
		INSERT INTO GHE(SOHANG, SOCOT, TINHTRANG, MAPHONGCHIEU)
		VALUES
		(1,@SOHANG,'1',@MAPHONGCHIEU),
		(2,@SOHANG,'1',@MAPHONGCHIEU),
		(3,@SOHANG,'1',@MAPHONGCHIEU),
		(4,@SOHANG,'1',@MAPHONGCHIEU),
		(5,@SOHANG,'1',@MAPHONGCHIEU),
		(6,@SOHANG,'1',@MAPHONGCHIEU),
		(7,@SOHANG,'1',@MAPHONGCHIEU),
		(8,@SOHANG,'1',@MAPHONGCHIEU),
		(9,@SOHANG,'1',@MAPHONGCHIEU),
		(10,@SOHANG,'1',@MAPHONGCHIEU),
		(11,@SOHANG,'1',@MAPHONGCHIEU),
		(12,@SOHANG,'1',@MAPHONGCHIEU),
		(13,@SOHANG,'1',@MAPHONGCHIEU),
		(14,@SOHANG,'1',@MAPHONGCHIEU)
	END
GO
/****** Object:  StoredProcedure [dbo].[INsertStaff]    Script Date: 16/11/2020 12:12:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INsertStaff]
@TENDANGNHAP VARCHAR(100),
@MATKHAU VARCHAR(100)
AS
	BEGIN
		INSERT INTO TaiKhoan(TenDangNhap, MatKhau, LoaiTaiKhoan)
		VALUES(@TENDANGNHAP, HASHBYTES('MD5', @MATKHAU), 'staff')
	END
GO
/****** Object:  StoredProcedure [dbo].[ScreenInsert]    Script Date: 16/11/2020 12:12:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ScreenInsert]
@TENPHONGCHIEU nvarchar(30),
@MARAP int
AS
	BEGIN
		INSERT INTO PHONGCHIEU(TENPHONGCHIEU, MARAP)
		VALUES(@TENPHONGCHIEU, @MARAP)
	END
GO
/****** Object:  StoredProcedure [dbo].[TheaterListDelete]    Script Date: 16/11/2020 12:12:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[TheaterListDelete] (@MARAP integer)
AS
	BEGIN
		DELETE FROM RAPCHIEU
		WHERE MARAP = @MARAP
	END
GO
/****** Object:  StoredProcedure [dbo].[TheaterListInser]    Script Date: 16/11/2020 12:12:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TheaterListInser]
@TENRAP nvarchar(30),
@DIACHI nvarchar(50)
AS
	BEGIN
		INSERT INTO RAPCHIEU(TENRAP, DIACHI)
		VALUES (@TENRAP, @DIACHI)
	END
GO
/****** Object:  StoredProcedure [dbo].[TheaterListUpdate]    Script Date: 16/11/2020 12:12:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TheaterListUpdate] (@MARAP integer, @TENRAP nvarchar(30), @DIACHI nvarchar(50))
AS
	BEGIN
		UPDATE RAPCHIEU
		SET TENRAP = @TENRAP, DIACHI = @DIACHI
		WHERE MARAP = @MARAP
	END
GO
USE [master]
GO
